[Unit]
Description=Analog_Bridge Service
# Description=Place this file in /lib/systemd/system
# Description=N4IRS 6/09/2017 

[Service]
Type=simple
StandardOutput=null
WorkingDirectory=/opt/Analog_Bridge
Restart=always
RestartSec=3
ExecStart=/opt/Analog_Bridge/Analog_Bridge Analog_Bridge.ini
ExecReload=/bin/kill -2 $MAINPID
KillMode=process
# RemainAfterExit=yes

[Install]
WantedBy=network-online.target


